.container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.sort {
    width: 300px;
}

.sort__radio {
    width: 100%;
}

.button {
    outline: none;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.sort__button {
    width: 33.3%;
}

.button:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

.sort__button_active {
    color: #fff;
    background-color: #40a9ff;
}

.sort-updown {
    margin-top: 8px;
}

.sort-updown__button {
    width: 50%;
}

.sort-updown__button_active {
    color: #fff;
    background-color: #40a9ff;
}

.tab__view {
    width: 300px;
    display: flex;
}

.tab__button {
    width: 100%;
    height: 72px !important;
}

.people {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.people__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #fff;
    border-color: #d9d9d9;
}

.people__img-container {
    width: 50px;
}

.people__img {
    width: 100%;
}

.people__name {
    width: 200px;
    text-align: center;
}
